<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
            <a class="navbar-brand d-flex align-items-center mb-2 mb-md-0 text-light" href="#">
                <img src="images/chefhat.png" alt="FlavorFinder" width="64px" height="64px"/>
                <span class="ml-2 text-light">FlavorFinder</span>
            </a>

            <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Log In</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-user fa-sm"></i> Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><i class="fa fa-bookmark fa-sm" aria-hidden="true"></i> Bookmarks</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fa fa-cloud-upload fa-sm" aria-hidden="true"></i> Upload Recipe</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

</header>